<h3>Add/Edit ATMs</h3>
<form class="form"  role="form">
  <div class="form-group">
    <label class="sr-only" for="InputName">Name</label>
    <input type="text" ng-model="atm.name"  class="form-control" id="InputName" placeholder="Name" >
  </div>
  <div class="form-group">
    <label class="sr-only"  for="InputAddress">Address</label>
    <input type="text" ng-model="atm.address"  class="form-control" id="InputAddress" placeholder="Address" >
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="atm.acceptDeposits" > Accept deposit?
    </label>
  </div>
   <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="atm.isMini" > Is mini?
    </label>
  </div>
  <button type="submit" class="btn btn-default"  ng-click="addItem()" >Add</button>
  <button type="submit" class="btn btn-default"  ng-click="editItem()" ng-disabled="selectedAtm < 0" >Edit</button>
</form>

<h3>List ATMs</h3>
<table class="table  table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Accept deposit?</th>
      <th>Is mini?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="atm in atms" ng-click="setSelected($index)">
      <td>{{atm.name}}</td>
      <td>{{atm.address}}</td>
      <td>{{atm.acceptDeposits}}</td>
      <td>{{atm.isMini}}</td>
      <td><button type="submit" class="btn btn-default"  ng-click="deleteItem(atm._id,$index)" >x</button></td>
    </tr>
  <tbody>
</table>